<p>A new support ticket has been created: <%= link_to @ticket.name, code_ticket_url(@ticket) %></p>
<%=raw @ticket.summary %>
<% if @detail %>
  <dt>Details:</dt>
    <dd><%= raw @detail.content %></dd>
<% end %>
