<p>A new support ticket has been created: <%= link_to @ticket.name, code_ticket_url(@ticket) %></p>

<%= render :partial => "code_tickets/blurb", :locals => { :ticket => @ticket }  %>

<%= render :partial => "code_details/blurb", :locals => { :detail => @detail }  %>
