<p><%= link_to @ticket.name, code_ticket_url(@ticket) %> has been updated.</p>

<%= render :partial => "code_tickets/blurb", :locals => { :ticket => @ticket }  %>

<% @details.each do |detail| %>
  <%= render :partial => "code_details/blurb", :locals => { :detail => detail }  %>
<% end %>
