<p><%= link_to @ticket.name, code_ticket_url(@ticket) %> has been updated.</p>
<%= render :partial => "code_tickets/blurb", :locals => { :ticket => @ticket }  %>
<%= render :partial => "details/blurb", :locals => { :detail => @ticket.code_details.last }  %>
