<h1>Welcome!</h1>
<p>This is the demo for the AO3 support board <a href="https://github.com/ambtus/support_board">code</a>.</p>
<ul>
<li>Support Board <a href="https://github.com/ambtus/support_board/raw/app/features/support_board.feature">Features</a>
</li>
<li>FAQ <a href="https://github.com/ambtus/support_board/raw/app/features/faq.feature"> Features</a>
</li>
<li>New Support Ticket <a href="https://github.com/ambtus/support_board/raw/app/features/support_ticket_new.feature">Features</a>
</li>
<li>Support Ticket Resolution <a href="https://github.com/ambtus/support_board/raw/app/features/support_ticket_resolution.feature">Features</a>
</li>
<li>Code Ticket <a href="https://github.com/ambtus/support_board/raw/app/features/code_ticket.feature">Features</a>
</li>
<li>Release Note <a href="https://github.com/ambtus/support_board/raw/app/features/release_note.feature">Features</a>
</li>
<li>Support Identity <a href="https://github.com/ambtus/support_board/raw/app/features/support_identity.feature">Features</a>
</li>
<li>Notificaton <a href="https://github.com/ambtus/support_board/raw/app/features/notification.feature">Features</a>
</li>
<li>Privacy <a href="https://github.com/ambtus/support_board/raw/app/features/privacy.feature">Features</a>
</li>
</ul>

Log in as any of the following and click <%= link_to 'Support Board', support_path %> here or in the footer to get started
<h2>users</h2>
<ul>
  <% @users.each do |user| %>
    <li><%= link_to user.login, user %></li>
  <% end %>
</ul>
<h2>volunteers</h2>
<ul>
  <% @volunteers.each do |user| %>
    <li><%= link_to user.login, user %></li>
  <% end %>
</ul>
<h2>support admins</h2>
<ul>
  <% @support_admins.each do |user| %>
    <li><%= link_to user.login, user %></li>
  <% end %>
</ul>
<h3>all passwords: "secret"</h3>
