<h1>Welcome!</h1>
<p>This is the demo for the AO3 support board <a href="https://github.com/ambtus/support_board">code</a>.</p>
<ul>
<li>Guest <a href="https://github.com/ambtus/support_board/raw/app/features/support_board_guest.feature">Features</a></li>
<li>User <a href="https://github.com/ambtus/support_board/raw/app/features/support_board_user_helper.feature">Helper Features</a>
<a href="https://github.com/ambtus/support_board/raw/app/features/support_board_user_tickets.feature">Tickets Features</a>
<a href="https://github.com/ambtus/support_board/raw/app/features/support_board_user_code.feature">Code Features</a>
<a href="https://github.com/ambtus/support_board/raw/app/features/support_board_user_faq.feature">FAQ Features</a></li>
<li>Volunteer <a href="https://github.com/ambtus/support_board/raw/app/features/support_board_volunteer.feature">Features</a>
<a href="https://github.com/ambtus/support_board/raw/app/features/support_board_volunteer_resolution.feature">Resolution Features</a>
<a href="https://github.com/ambtus/support_board/raw/app/features/support_board_volunteer_code.feature">Code Features</a>
</li>
<li>Admin <a href="https://github.com/ambtus/support_board/raw/app/features/support_board_admin.feature">Features</a></li>
</ul>

Log in as any of the following and click <%= link_to 'Support Board', support_path %> here or in the footer to get started
<h2>users</h2>
<ul>
  <% @users.each do |user| %>
    <li><%= link_to user.login, user %></li>
  <% end %>
</ul>
<h2>volunteers</h2>
<ul>
  <% @volunteers.each do |user| %>
    <li><%= link_to user.login, user %></li>
  <% end %>
</ul>
<h2>support admins</h2>
<ul>
  <% @support_admins.each do |user| %>
    <li><%= link_to user.login, user %></li>
  <% end %>
</ul>
<h3>all passwords: "secret"</h3>
