<h1>Welcome!</h1>
<p>This is the demo for the AO3 support board <a href="https://github.com/ambtus/support_board">code</a>.</p>
<p><a href="https://github.com/ambtus/support_board/raw/app/features/support_board_guest.feature">Guest Features</a></p>
<p><a href="https://github.com/ambtus/support_board/raw/app/features/support_board_user_helper.feature">User Helper Features</a>
<a href="https://github.com/ambtus/support_board/raw/app/features/support_board_user_tickets.feature">User Tickets Features</a>
<a href="https://github.com/ambtus/support_board/raw/app/features/support_board_user_code.feature">User Code Features</a>
<a href="https://github.com/ambtus/support_board/raw/app/features/support_board_user_faq.feature">User FAQ Features</a></p>
<p><a href="https://github.com/ambtus/support_board/raw/app/features/support_board_volunteer.feature">Volunteer Features</a>
<a href="https://github.com/ambtus/support_board/raw/app/features/support_board_volunteer_resolution.feature">Volunteer Resolution Features</a></p>
<p><a href="https://github.com/ambtus/support_board/raw/app/features/support_board_admin.feature">Support Admin Features</a></p>
<h2>guests</h2>
<ul>
  <li>guest@ao3.org</li>
</ul>
<h2>users</h2>
<ul>
  <% @users.each do |user| %>
    <li><%= link_to user.login, user %></li>
  <% end %>
</ul>
<h2>volunteers</h2>
<ul>
  <% @volunteers.each do |user| %>
    <li><%= link_to user.login, user %></li>
  <% end %>
</ul>
<h2>support admins</h2>
<ul>
  <% @support_admins.each do |user| %>
    <li><%= link_to user.login, user %></li>
  <% end %>
</ul>
<h2>all passwords: "secret"</h2>
