<p>"A new support ticket has been created: <%= link_to(@ticket.name, support_ticket_path(@ticket, :only_path => false, :authentication_code => @ticket.authentication_code)) %></p>
<%=raw @ticket.summary %>
