<p>A new support ticket has been created: <%= link_to @ticket.name, @url %></p>
<%= render :partial => "support_tickets/blurb", :locals => { :ticket => @ticket }  %>
<% if @ticket.support_details.count > 0 %><%= render :partial => "details/blurb", :locals => { :detail => @ticket.support_details.last }  %><% end %>
