<p><%= link_to(@ticket.name, support_ticket_url(@ticket)) %> has been stolen by <%= @stealer.support_identity.name %>.</p>
<%= render :partial => "support_tickets/blurb", :locals => { :ticket => @ticket }  %>
<%= render :partial => "details/blurb", :locals => { :detail => @ticket.support_details.last }  %>
