<p><%= link_to @ticket.name, @url %> has been updated.</p>
<%= render :partial => "support_tickets/blurb", :locals => { :ticket => @ticket }  %>
<%= render :partial => "details/blurb", :locals => { :detail => @ticket.support_details.last }  %>
