<h2><%= @user.login %>'s pseuds</h2>
<ul class="pseuds">
<% @user.pseuds.each do |pseud| %>
  <li>
  <%= link_to pseud.name, [@user, pseud] %>
  <% if pseud.is_default %>(default pseud)<% end %>
  <% if pseud.support_volunteer %>(support pseud)<% end %>
  </li>
<% end %>
</ul>
