<h1><%= ticket.name %></h1>
<%= render :partial => "blurb", :locals => { :ticket => @ticket }  %>

<% @details.each do |detail| %>
  <%= render :partial => "details/blurb", :locals => { :detail => detail }  %>
<% end %>
